[project]
	description = first drop
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kv113813
[access "refs/for/refs/*"]
	read = group user/kv113813
	push = group user/kv113813
	label-Code-Review = -2..+2 group user/kv113813
	label-Verified = -1..+1 group user/kv113813
	rebase = group user/kv113813
	removeReviewer = group user/kv113813
	submit = group user/kv113813
[access "refs/heads/*"]
	read = group user/kv113813
	create = group user/kv113813
	push = +force group user/kv113813
	pushMerge = group user/kv113813
[access "refs/tags/*"]
	push = +force group user/kv113813
	pushTag = group user/kv113813
	pushSignedTag = group user/kv113813
